* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html{
  overflow-x: hidden;
}
.container {
  overflow-x: hidden;
  min-height: 100vh;
  background-color: beige;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.stopwatch {
  color: black;
  font-size: 90px;
  padding: 120px 40px;
  margin-bottom: 95px;

}


.buttons {
  margin-bottom: 50px;
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}
.btn {
  border-radius: 15px;
  color: white;
  border: 0;
  font-size: 25px;
  cursor: pointer;
  padding: 30px 60px;
}
.btn-start {
  background-color: #60ba37;
}
.btn-pause {
  background-color: #4b81ee;
  padding: 0 110px;
}
.btn-reset {
  background-color: #e94c4d;
}

.task {
  margin-bottom: 15px;
  width: 250px;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:green;
  border-radius: 5px;
}
.task-delete {
  background-color: #bbb;
  color: red;
  outline: none;
  cursor: pointer;
  padding: 7px;
}

